{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
  {% block content %}

  <center><h4>Home page</h4></center>
  <center><img src="{% static '/img/enroll.jpg' %}" alt="enroll" width=500,height=500></center>
      <p>
        Several factors contribute to the success of a world class enrollment team. One of these key ingredients lies in how efficient and responsive they are. Applicants are not only looking for personalized attention at each step but also looking to get it quick. More than ever, relevant, valuable and timely information could be ample determinants in a prospect’s decision. And this ultimately links back to the enrollment system in place.

Enrollment systems, when implemented correctly, give admission teams a better leverage over student needs and motivations. The entire process, from contact to conversion, becomes seamless with a centralized system in place. Let’s take an organized look at some of the reasons why automated enrollment systems have become a priority when it comes to student enrollment.

What is an Enrollment System?
One of the ripple effects of the stifling competition for education institutes is the growing necessity for schools to enhance their mechanisms for better serving applicant’s queries and objections. This is where enrollment systems come into play, simplifying and accelerating student enrollment

In simpler words, an enrollment system combines all activities involved in the entire enrollment process and integrates them into a system. This way, everything happens in one place, both online and offline. The conversation happened with the prospects, the pages they are visiting, their interests and motivations, their personal details, the meetings scheduled with them to name a few. The overall objective of an enrollment system is to help admission teams ultimately enroll more students.
      </p>
    {% endblock content %}
</body>
</html>